{% extends 'partials/variables.html.twig' %}

{% set module = page.header.contents %}
{% set image_left_top = page.media[page.header.contents.image_left_top] %}
{% set image_bottom_right = page.media[page.header.contents.image_bottom_right] %}
{% set image_bottom_left = page.media[page.header.contents.image_bottom_left] %}

{% set list_title_icon = page.media[page.header.contents.list_title_icon] %}

{% block render_block %}
	<div class="about-listing-wrapper about-listing-animation {{ module.parent_classes }}">
		<div class="container">

			<div class="contents-wrapper {{ module.child_classes }}">

				<div class="listing-contents">
					<div class="header-content">

						<p class="sub-title">
							{{ module.title_1.translatable|striptags('<span>')|raw }}
							<svg width="14" height="14" viewbox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect width="14" height="14" rx="2" fill="#FB4D17"/>
							</svg>

						</p>

						<h3>{{ module.title.translatable|striptags('<span>')|raw }}</h3>
						{% if module.subtitle %}
							<h4>{{ module.subtitle.translatable|striptags('<span>')|raw }}</h4>
						{% endif %}
					</div>

					<div class="listing-content-container">

						{% for section in page.header.about_sections %}
							{% if section.description != '' and section.title != '' %}
								<div class="listing listing-horizontal {{ module.classes|replace({',' : ' '}) }}">
									<div class="listing-icon">
										{% set icon = page.media[section.icon] %}
										{% if icon %}
											<img class="icon" src="{{ icon.url }}"/>
										{% endif %}
									</div>

									<div class="listing-content">
										<p>
											<b>{{ section.title.translatable }}</b>
											{{ section.description.translatable }}
										</p>

									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>

					{% if module.buttons %}
						{% for button in module.buttons  %}
							<a class="button" href="{{ home_url|e }}{{ button.link }}">
								{{ button.text.translatable }}
							</a>

						{% endfor %}
					{% endif %}

				</div>

				<div
					class="image-container">
					{# <div class="single_img">
											{% if image_large %}
												<img src="{{ image_large.url }}" alt="single Image"/>
											{% endif %}
					
											<div class="single_img_content">
												<h4>{{ module.img_title.translatable|striptags('<span>')|raw }}</h4>
												<p>{{ module.img_description.translatable}}</p>
											</div>
										</div> #}

					<div class="double_img">

						<img class="image_top" src="{{ image_left_top.url }}" alt="left Image"/>

						<div class="buttom">
							<img class="image_left" src="{{ image_bottom_left.url }}" alt="right Image"/>
							<img class="image_right" src="{{ image_bottom_right.url }}" alt="right Image"/>
						</div>
						{# {% if image_right %}
							<img class="image_right" src="{{ image_right.url }}" alt="right Image"/>
						{% endif %} #}
					</div>

				</div>

			</div>

		</div>

	</div>
</div>{% endblock %}
