{% extends 'partials/variables.html.twig' %}

{% set module = page.header.contents %}
{% set image_left_top = page.media[page.header.contents.image_left_top] %}
{% set image_bottom_right = page.media[page.header.contents.image_bottom_right] %}
{% set image_bottom_left = page.media[page.header.contents.image_bottom_left] %}

{% set list_title_icon = page.media[page.header.contents.list_title_icon] %}

{% block render_block %}
	<div class="about-listing-wrapper about-listing-animation {{ module.parent_classes }}">
		<div class="container">

			<div class="contents-wrapper {{ module.child_classes }}">

				<div class="listing-contents">
					<div class="header-content">

						<p class="sub-title">
							{{ module.title_1.translatable|striptags('<span>')|raw }}
							<svg width="14" height="14" viewbox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect width="14" height="14" rx="2" fill="#FB4D17"/>
							</svg>

						</p>

						<h3>{{ module.title.translatable|striptags('<span>')|raw }}</h3>
						{% if module.subtitle %}
							<h4>{{ module.subtitle.translatable|striptags('<span>')|raw }}</h4>
						{% endif %}
					</div>

					<div class="listing-content-container">

						{% for section in page.header.about_sections %}
							{% if section.description != '' and section.title != '' %}
								<div class="listing listing-horizontal {{ module.classes|replace({',' : ' '}) }}">
									<div class="listing-icon">
										{% set icon = page.media[section.icon] %}
										{% if icon %}
											<img class="icon" src="{{ icon.url }}"/>
										{% endif %}
									</div>

									<div class="listing-content">
										<p>
											<b>{{ section.title.translatable }}</b>
											{{ section.description.translatable }}
										</p>

									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>

					{% if module.buttons %}
						{% for button in module.buttons  %}
							<a class="button" href="{{ home_url|e }}{{ button.link }}">
								{{ button.text.translatable }}
							</a>

						{% endfor %}
					{% endif %}

				</div>

				<div
					class="image-container">

					<div class="double_img">

						<img class="image_top" src="{{ image_left_top.url }}" alt="left Image"/>

						<div class="buttom">
							<img class="image_left" src="{{ image_bottom_left.url }}" alt="right Image"/>
							<img class="image_right" src="{{ image_bottom_right.url }}" alt="right Image"/>
							<div class="client">
								<svg xmlns="http://www.w3.org/2000/svg" width="62" height="62" viewbox="0 0 62 62" fill="none">
									<path d="M28.7289 5.32495C23.7947 5.3248 18.9529 6.66325 14.7193 9.1977C10.4858 11.7321 7.01911 15.3676 4.68867 19.7168C2.35822 24.066 1.25133 28.966 1.48593 33.8946C1.72052 38.8233 3.28781 43.5959 6.0208 47.7041C8.7538 51.8123 12.5501 55.1021 17.0053 57.223C21.4604 59.3439 26.4075 60.2164 31.3194 59.7476C36.2312 59.2788 40.9239 57.4862 44.8975 54.5608C48.871 51.6355 51.9764 47.687 53.8829 43.136L28.7289 32.597V5.32495Z" fill="#FB4D17"/>
									<path d="M58.023 40.465C59.8901 36.3305 60.6963 31.7955 60.3686 27.2708C60.0409 22.7462 58.5896 18.3747 56.1463 14.5524C53.703 10.7301 50.3447 7.57762 46.3757 5.38056C42.4067 3.18351 37.9524 2.01126 33.416 1.96997L33.166 29.242L58.023 40.465Z" fill="#B2C2C0"/>
								</svg>
								<div class="client_satisfaction">
									<h1>{{ module.img_title.translatable }}</h1>
									<p>{{ module.img_description.translatable }}</p>
								</div>

							</div>
						</div>
					</div>

				</div>

			</div>

		</div>

	</div>
</div>{% endblock %}
