{% extends 'partials/variables.html.twig' %}

{% set module = page.header.contents %}
{# {% set image_left = page.media[page.header.contents.image_left] %}
{% set image_right = page.media[page.header.contents.image_right] %}
{% set image_large = page.media[page.header.contents.image_large] %} #}

{% set list_title_icon = page.media[page.header.contents.list_title_icon] %}

{% block render_block %}
	<div class="companion-wrapper about-listing-animation {{ module.parent_classes }}" id="watch_demo">
		<div class="container">
			{# <div class="header-content">
				<h3>{{ module.title.translatable|striptags('<span>')|raw }}</h3>

				<p>{{ module.description.translatable|striptags('<span>')|raw }}</p>


			</div> #}
			<div class="contents-wrapper {{ module.child_classes }}">
				<div class="listing-contents">
					{# <div class="header-content">
						<h3>{{ module.title.translatable|striptags('<span>')|raw }}</h3>
					</div> #}

					<div class="companion-content-wrapper">

						{# <div class="active-line"></div> #}

						<div class="listing-content-container">
							{% for section in page.header.about_sections %}
								
								<div class="listing-content {% if loop.first %}active{% endif %}" data-index="{{ loop.index0 }}">
									<div class="count">
										<h3>{{ section.tab_title.translatable|striptags('<span>')|raw }}</h3>
									</div>
									<div class="content">
										<h5 class="listing-title">{{ section.title.translatable }}</h5>
										<p>{{ section.description.translatable }}</p>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>

				<div class="image-wrapper">
					{% for section in page.header.about_sections %}
						{% set image = page.media[section.icon] %}
						{% if image %}
							<video 
								autoplay 
								muted 
								loop 
								playsinline 
								class="companion-image {% if loop.first %}active{% endif %}" 
								data-index="{{ loop.index0 }}"
							>
								<source src="{{ image.url }}" type="video/mp4">
								
							</video>
						{% endif %}
					{% endfor %}
				</div>

			</div>
		</div>
	</div>

	 <script>
		document.addEventListener("DOMContentLoaded", function () {
		const listItems = document.querySelectorAll(".listing-content");
		const images = document.querySelectorAll(".companion-image");

		listItems.forEach((item, index) => {
			item.addEventListener("click", () => {
				console.log("clicked", index);
			// Reset all
			listItems.forEach(i => i.classList.remove("active"));
			images.forEach(img => img.classList.remove("active"));
	
			// Activate current
			item.classList.add("active");
			images[index].classList.add("active");
			});
		});
		});
	</script>


{% endblock %}
