{% extends 'partials/variables.html.twig' %}
{% set module = page.header.modules %}
{% set contents = page.header.contents %}
{% set image_left = page.media[module.image] %}
{# {% set image_bottom_left = page.media[module.image_bottom_left] %} #}

{% set right_title = page.find('/home').header.modules %}



{% set module = page.header.modules %}
{% set contents = page.header.contents %}

{% block render_block %}

    {# {% include 'partials/no-hero-header.html.twig' with {
        'title': page.header.title,
        'links': [
            {
                'url': '/' ~ grav.language.getActive,
                'title': "METRICALO.HOME"|t
            },
            {
                'title': page.header.title|t

            }
        ]
    } %} #}
    
    <section class="contact-block-section {{ module.classes }}">
        
        {# <div class="container">

            <div class="contact-info-wrapper">

                {% for item in contents %}
                    <div class="contact-info-item">
                        <div class="contact-info-top">
                            <img src="{{ page.media[item.icon].url }}" />
                            <h3>{{ item.title.translatable }}</h3>
                        </div>

                        <a href="#">{{ item.description.translatable }}</a>

                    </div>
                    <!-- End item -->
                {% endfor %}
            
            </div>
        
        </div> #}

        <div class="container">
                    {% include 'widgets/contact-section.html.twig' %}

            <div class="contact-block-wrapper">
                <div class="contact-left">
                    {# <h3>{{ module.sub_title.translatable|striptags('<span>')|raw }}</h3> #}

                    <h2>{{ right_title.title.translatable|striptags('<span>')|raw }}</h2>
                    <img src="{{ url('theme://images/contact_us.webp') }}"/>
                </div>
                <div class="contact-block-content-parent">
                    <div class="contact-content">
                        <h1>{{ module.title.translatable|striptags('<span>')|raw }}</h1>
                        <p>{{ module.sub_title.translatable|striptags('<span>')|raw }}</p>
                    </div>
                    <div class="contact-form">
                        {% include 'forms/form.html.twig' with {form: forms('contact-us'), action: '#'} %}
                    </div>
                </div>
            </div>
        </div>

    </section>



{% endblock %}