{% extends 'partials/variables.html.twig' %}

{% set contents = page.header.hero %}

{% block render_block %}
	<section class="hero-section" id="hero-section">
		<div class="hero-wrapper container slide-in">
			<div class="text-contents">
				<div class="hero-content-head">

					{% if contents.h1 != null %}
						<h1 class="hero-title">{{ contents.h1.translatable|raw }}</h1>
					{% endif %}

					{% if contents.text != null %}
						<p>{{ contents.text.translatable|raw }}</p>
					{% endif %}
				</div>

				<div class="hero-buttons">
					{% for button in contents.buttons %}
						<a class="button slide-in {{ button.btn_class }}" href="/{{ grav.language.getActive }}{{ button.link }}">
							{{ button.text.translatable }}
						</a>
					{% endfor %}
				</div>
			</div>

			{% if contents.image %}
				<div class="image-contents">

					<img class="hero-img" src="{{ page.media[contents.image].url }}" alt="Hero Image"/>


					<img src="{{ url('theme://images/hero/cash.png') }}" class="floating cash" alt="Cash Icon"/>
					<img src="{{ url('theme://images/hero/dollar.png') }}" class="floating dollar" alt="Bitcoin Icon"/>
					<img src="{{ url('theme://images/hero/bitcoin.png') }}" class="floating bitcoin" alt="USD Icon"/>
					<img src="{{ url('theme://images/hero/arrow.webp') }}" class="floating arrow" alt="Time Chart"/>

					<div class="left_bottom_wrapper">
						<div class="left_bottom">
							<h2>{{ contents.buttom_left_title.translatable|raw }}</h2>
							<p>{{ contents.buttom_left_text.translatable|raw }}</p>
							<p>{{ contents.buttom_left_text_2.translatable|raw }}</p>
						</div>
					</div>

					<div class="left_bottom_right">
						<div class="bottom_top">
							<svg width="22" height="22" viewbox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect width="22" height="22" rx="4" fill="white" fill-opacity="0.2"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M9.83331 4.58331C9.51115 4.58331 9.24998 4.84448 9.24998 5.16665C9.24998 5.48881 9.51115 5.74998 9.83331 5.74998H10.4166V6.36365C7.63026 6.65514 5.45831 9.01142 5.45831 11.875C5.45831 14.9356 7.9394 17.4166 11 17.4166C14.0606 17.4166 16.5416 14.9356 16.5416 11.875C16.5416 9.01142 14.3697 6.65514 11.5833 6.36365V5.74998H12.1666C12.4888 5.74998 12.75 5.48881 12.75 5.16665C12.75 4.84448 12.4888 4.58331 12.1666 4.58331H9.83331ZM11.5833 9.54165C11.5833 9.21948 11.3221 8.95831 11 8.95831C10.6778 8.95831 10.4166 9.21948 10.4166 9.54165V11.875C10.4166 12.0799 10.5242 12.2698 10.6999 12.3752L12.1582 13.2502C12.4344 13.4159 12.7928 13.3264 12.9585 13.0501C13.1243 12.7738 13.0347 12.4155 12.7584 12.2498L11.5833 11.5447V9.54165Z" fill="white"/>
								<path d="M14.5711 5.97438C14.799 5.74658 15.1683 5.74658 15.3961 5.97438L16.2711 6.84938C16.4989 7.07719 16.4989 7.44653 16.2711 7.67434C16.0433 7.90215 15.674 7.90215 15.4461 7.67434L14.5711 6.79934C14.3433 6.57153 14.3433 6.20219 14.5711 5.97438Z" fill="white"/>
								<path d="M7.42882 5.97438C7.65662 6.20219 7.65662 6.57153 7.42882 6.79934L6.55382 7.67434C6.32601 7.90215 5.95666 7.90215 5.72886 7.67434C5.50105 7.44653 5.50105 7.07719 5.72886 6.84938L6.60386 5.97438C6.83166 5.74658 7.20101 5.74658 7.42882 5.97438Z" fill="white"/>
							</svg>

							<p>{{ contents.buttom_right_text.translatable|raw }}</p>
						</div>
						<img src="{{ url('theme://images/hero/amount.webp') }}" class="" alt="Time Chart"/>
					</div>

					<div class="about_hero">
						<div class="inner">
							<p>98% Success Guaranteed !</p>
							<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 64 64" fill="none">
								<path d="M37.3003 31.9C36.8003 34.1 38.2003 36.4 40.5003 36.9C42.8003 37.4 45.1003 36 45.6003 33.8L51.7003 7.6C52.2003 5.4 50.8003 3.1 48.5003 2.6C46.2003 2.1 43.9003 3.5 43.4003 5.7L37.3003 31.9Z" fill="#FFDD67"/>
								<path d="M38.9 35.6C41.3 36.1 43.4999 34.7 44.0999 32.5L50.2 6.3C50.5 5.1 50.2 3.9 49.5 3C51.6 3.9 52.3 5.7 51.9 7.7L45.7999 33.9C45.2999 36.1 43 37.6 40.7 37C39.6 36.8 38.8 36.2 38.2 35.4C38.3 35.4 38.6 35.5 38.9 35.6Z" fill="#EBA352"/>
								<path d="M45.2003 34.5C45.2003 34.5 36.5003 25.9 21.1003 30.2C21.1003 30.2 12.0003 31.8 12.5003 36.4C12.5003 36.4 12.2003 47.8 16.1003 54.6C22.0003 64.7 44.7003 66.3 50.4003 47.6C51.6003 43.9 50.7003 33.9 45.2003 34.5Z" fill="#FFDD67"/>
								<path d="M29.7008 33.4C30.1008 35.7 32.4008 37.1 34.7008 36.7C37.0008 36.3 38.6008 34.1 38.2008 31.8L33.2008 5.4C32.8008 3.1 30.5008 1.7 28.2008 2.1C25.9008 2.5 24.3008 4.7 24.8008 7L29.7008 33.4Z" fill="#FFDD67"/>
								<path d="M32.6 36.1C35 35.7 36.5 33.5 36.1 31.2L31.1 4.8C30.8 3.6 30 2.6 29 2C31.2 2 32.8 3.4 33.2 5.4L38.2 31.8C38.6 34.1 37.1 36.3 34.8 36.7C33.7 36.9 32.7 36.7 31.8 36.2C32 36.2 32.3 36.2 32.6 36.1Z" fill="#EBA352"/>
								<path d="M11.9999 32.1C11.6999 29.8 13.3999 27.7 15.7999 27.4H15.8999C18.1999 27.2 20.3999 28.8 20.5999 31.2L21.2999 37.7C21.5999 40 19.8999 42.1 17.4999 42.4H17.3999C14.9999 42.6 12.8999 41 12.6999 38.6L11.9999 32.1Z" fill="#FFDD67"/>
								<path d="M20.0995 27.4C19.7995 25.1 21.4995 23 23.8995 22.7H23.9995C26.3995 22.5 28.4995 24.1 28.6995 26.5L29.3995 33C29.6995 35.3 27.9995 37.4 25.5995 37.7H25.4995C23.0995 37.9 20.9995 36.3 20.7995 33.9L20.0995 27.4Z" fill="#FFDD67"/>
								<path d="M16.0996 41C18.4996 40.7 20.0996 38.7 19.8996 36.3L19.1996 29.8C19.0996 29.2 18.7996 28.5 18.4996 27.9C19.9996 28.6 20.4996 29.8 20.6996 31.2L21.3996 37.7C21.6996 40 19.9996 42.1 17.6996 42.3C15.9996 42.5 14.3996 41.6 13.5996 40.3C14.1996 40.8 15.0996 41.1 16.0996 41ZM24.0996 36.3C26.4996 36 28.1996 34 27.8996 31.7L27.1996 25.2C27.0996 24.6 26.7996 23.8 26.4996 23.3C27.8996 24.1 28.4996 25.3 28.6996 26.7L29.3996 33.2C29.6996 35.5 27.9996 37.5 25.5996 37.8H25.4996C23.7996 38 22.1996 37.1 21.3996 35.8C22.1996 36.2 23.0996 36.4 24.0996 36.3ZM41.3996 40.8C36.5996 38.5 25.6996 42.5 27.8996 52.5C27.8996 42.1 37.2996 40.3 41.3996 40.8Z" fill="#EBA352"/>
								<path d="M39.6 30.5C36.1 28.4 35.5 31.7 29.6 31.9C27 32 25.9 37.3 29.8 39.2C35.2 41.9 35.6 38.1 37 39.6C38.4 41.2 39.7 41.5 40.9 43.3C41.8 44.6 48.5 42.6 49.2 39.9C50.5 34.6 45 33.8 39.6 30.5Z" fill="#EBA352"/>
								<path d="M40.0003 31.4C36.4003 29.3 35.7003 32.6 29.6003 32.8C26.9003 32.9 25.7003 38.4 29.8003 40.4C35.4003 43.2 35.9003 39.2 37.2003 40.8C38.7003 42.4 40.0003 42.8 41.3003 44.7C42.2003 46.1 39.8003 51.3 39.8003 51.3C39.8003 51.3 46.7003 56.2 48.1003 53.4C50.7003 48.2 50.0003 44.2 49.9003 41.2C49.7003 34.1 45.7003 34.8 40.0003 31.4Z" fill="#FFDD67"/>
								<path d="M46.9 34.9C50.7 36.7 50.5 46.6 47.7 51.4C40.6 63.3 25 63.1 17.7 56.7C24.5 64 41.0999 64.7 48.7999 52.4C51.8999 47.5 52.9 36.1 46.9 34.9Z" fill="#EBA352"/>
								<path d="M40.5 44.8C40.8 45.2 40.7 46 40.6 46.9C41 45.5 41.3 44.1 40.9 43.5C39.7 41.6 39 41.2 37.5 39.6C36.1 38.1 35.7 42 30.1 39.2C28 38.2 27.3 36.2 27.5 34.5C26.7 36.3 27.1 39.1 29.8 40.5C35.4 43.3 35.9 39.3 37.2 40.9C38.6 42.5 39.3 42.9 40.5 44.8Z" fill="#EBA352"/>
							</svg>
						</div>

					</div>

				</div>
			{% endif %}
		</div>
	</section>
{% endblock %}
