{% extends 'partials/variables.html.twig' %}

{% set module = page.header.text_left %}
{% set image = page.media[page.header.text_left.image] %}
{% set features = page.header.text_left_features %}

{% block render_block %}
<div class="paragraph text-left text-left-animation {{ module.classes }}">
    <div class="container">
        <div class="text-left-container">
            <div class="right-section">
                <img class="" src="{{ image.url }}" alt="icon"/>
              

            </div>

            <div class="text-left-text">
                {% if module.subtitle is not empty %}
                <div class="sub-title">
                    <h4>{{ module.subtitle.translatable|striptags('<span>')|raw }}</h4>
                </div>
                {% endif %}
                <div class="block-title">
                    <h3>{{ module.title.translatable|striptags('<span>')|raw }}</h3>
                </div>
                <div class="mid_content">
                    <div class="top">
                        <div class="content">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
                                <path d="M4.41304 1.86924C4.80182 0.186396 7.19818 0.186396 7.58696 1.86924C7.79947 2.78909 8.74702 3.33616 9.64989 3.06027C11.3017 2.55554 12.4998 4.63085 11.2368 5.80897C10.5465 6.45293 10.5465 7.54707 11.2368 8.19103C12.4998 9.36915 11.3017 11.4445 9.64989 10.9397C8.74702 10.6638 7.79947 11.2109 7.58696 12.1308C7.19818 13.8136 4.80182 13.8136 4.41304 12.1308C4.20053 11.2109 3.25298 10.6638 2.35011 10.9397C0.698337 11.4445 -0.499845 9.36915 0.763151 8.19103C1.45351 7.54707 1.45351 6.45293 0.763151 5.80897C-0.499845 4.63085 0.698337 2.55554 2.35011 3.06027C3.25298 3.33616 4.20053 2.78909 4.41304 1.86924Z" fill="#085C44"/>
                            </svg>
                            <p>{{ module.content_top_left.translatable }}</p>
                        </div>
                        <div class="content">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
                                <path d="M4.41304 1.86924C4.80182 0.186396 7.19818 0.186396 7.58696 1.86924C7.79947 2.78909 8.74702 3.33616 9.64989 3.06027C11.3017 2.55554 12.4998 4.63085 11.2368 5.80897C10.5465 6.45293 10.5465 7.54707 11.2368 8.19103C12.4998 9.36915 11.3017 11.4445 9.64989 10.9397C8.74702 10.6638 7.79947 11.2109 7.58696 12.1308C7.19818 13.8136 4.80182 13.8136 4.41304 12.1308C4.20053 11.2109 3.25298 10.6638 2.35011 10.9397C0.698337 11.4445 -0.499845 9.36915 0.763151 8.19103C1.45351 7.54707 1.45351 6.45293 0.763151 5.80897C-0.499845 4.63085 0.698337 2.55554 2.35011 3.06027C3.25298 3.33616 4.20053 2.78909 4.41304 1.86924Z" fill="#085C44"/>
                            </svg>
                            <p>{{ module.content_top_right.translatable }}</p>
                        </div>
                    </div>
                    <div class="content">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
                            <path d="M4.41304 1.86924C4.80182 0.186396 7.19818 0.186396 7.58696 1.86924C7.79947 2.78909 8.74702 3.33616 9.64989 3.06027C11.3017 2.55554 12.4998 4.63085 11.2368 5.80897C10.5465 6.45293 10.5465 7.54707 11.2368 8.19103C12.4998 9.36915 11.3017 11.4445 9.64989 10.9397C8.74702 10.6638 7.79947 11.2109 7.58696 12.1308C7.19818 13.8136 4.80182 13.8136 4.41304 12.1308C4.20053 11.2109 3.25298 10.6638 2.35011 10.9397C0.698337 11.4445 -0.499845 9.36915 0.763151 8.19103C1.45351 7.54707 1.45351 6.45293 0.763151 5.80897C-0.499845 4.63085 0.698337 2.55554 2.35011 3.06027C3.25298 3.33616 4.20053 2.78909 4.41304 1.86924Z" fill="#085C44"/>
                        </svg>
                        <p>{{ module.content_middle.translatable }}</p>
                    </div>
                    <div class="content">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
                            <path d="M4.41304 1.86924C4.80182 0.186396 7.19818 0.186396 7.58696 1.86924C7.79947 2.78909 8.74702 3.33616 9.64989 3.06027C11.3017 2.55554 12.4998 4.63085 11.2368 5.80897C10.5465 6.45293 10.5465 7.54707 11.2368 8.19103C12.4998 9.36915 11.3017 11.4445 9.64989 10.9397C8.74702 10.6638 7.79947 11.2109 7.58696 12.1308C7.19818 13.8136 4.80182 13.8136 4.41304 12.1308C4.20053 11.2109 3.25298 10.6638 2.35011 10.9397C0.698337 11.4445 -0.499845 9.36915 0.763151 8.19103C1.45351 7.54707 1.45351 6.45293 0.763151 5.80897C-0.499845 4.63085 0.698337 2.55554 2.35011 3.06027C3.25298 3.33616 4.20053 2.78909 4.41304 1.86924Z" fill="#085C44"/>
                        </svg>
                        <p>{{ module.content_last.translatable }}</p>
                    </div>
                </div>
                {# <p>{{ page.content|striptags('<span>')|raw }}</p> #}

               {% if module.buttons %}
                    {% for button in module.buttons  %}
                        <a class="button" href="{{ home_url|e }}{{ button.link }}">
                            {{ button.text.translatable }}

                        </a>
                    {% endfor %}
                {% endif %} 
            </div>
        </div>
    </div>
</div>
{% endblock %}
